* {
  margin: 0;
}

/* ----- colors variables ----- */

:root {
  --delft-blue: #2b3a67ff;
  --paynes-gray: #496a81ff;
  --french-gray: #bcbdc0ff;
  --cal-poly-green: #26532bff;
  --shamrock-green: #399e5aff;
  --white: #ffffff;
}

body {
  background-image: url("./img/TreeWithMoreApples.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.score {
  font-size: bold;
  color: var(--delft-blue);
}

.Game-score {
  background-color: var(--white);
  padding: 10px;
  height: 5vmin;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--delft-blue);
}

.wraper {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--delft-blue);
  height: 70vmin;
  width: 65vmin;
}

#game-board {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);
  height: 100%;
  width: 100%;
  background-color: var(--white);
  filter: opacity(50%);
}

.snake {
  background-color: var(--cal-poly-green);
  margin: 0;
  height: 100%;
  width: 100%;
}

.food {
  background-image: url("./img/apple.png");
  background-size: cover;
  filter: opacity(100%);
}
