* {
  margin: 0;
}

/* ----- colors variables ----- */

:root {
  --delft-blue: #2b3a67ff;
  --paynes-gray: #496a81ff;
  --french-gray: #bcbdc0ff;
  --cal-poly-green: #26532bff;
  --shamrock-green: #399e5aff;
  --aston-green: #26532b7e;
  --snake-green: #a0c432;
  --white: #ffffff;
}

a,
button,
input {
  cursor: url("../img/minimal-ow-pack-pointer.png"), pointer;
}

body {
  cursor: url("../img/minimal-ow-pack.png"), auto;
  background-color: var(--french-gray);
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;

  flex-direction: column;
}

.score {
  font-size: bold;
  color: var(--delft-blue);
}

.Game-score {
  background-color: var(--white);
  padding: 10px;
  height: 5vmin;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--delft-blue);
}

.wraper {
  margin-bottom: 70px;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--delft-blue);
  height: 70vmin;
  width: 65vmin;
}

.game_snake {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);
  height: 100%;
  width: 100%;
  background-color: var(--white);
  border: 1px solid var(--delft-blue);
}

.finishGame {
  width: 100%;
  height: 100%;
  background-color: var(--aston-green);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.GameBtn:active,
.GameBtn:visited,
.GameBtn:link,
.GameBtn {
  color: black;
  text-decoration: none;
  position: absolute;
  bottom: 10px;
  background-color: var(--white);
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 1.2rem;
}

.restatBtnText {
  color: white;
  font-size: 25px;
}

.looseText {
  color: white;
  font-size: 50px;
  font-weight: bold;
}

.snake-head {
  background-image: url("/img/snake-head.png");
  background-size: cover;
  margin: 0;
  height: 100%;
  width: 100%;
}

.snake-second-part {
  background-color: var(--snake-green);
  /* border-top-left-radius: 22px;
  border-top-right-radius: 22px; */
}

.snake {
  background-color: var(--snake-green);
  margin: 0;
  height: 100%;
  width: 100%;
}

.food {
  background-image: url("/img/apple.png");
  background-size: cover;
  filter: opacity(100%);
}

/* Styles de base pour la grille et les cellules */
.game_TicTacToe {
  align-items: center;
  justify-content: center;
  color: #bcbdc0ff;
  background-color: rgba(57, 158, 91, 0.465);
}

.grid_TicTacToe {
  display: grid;
  grid-template-columns: repeat(3, 100px);

  gap: 5px;
}

.cell_TicTacToe {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  background-color: rgba(57, 158, 91);
}

/* Styles pour le message */
#message_TicTacToe {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  background-color: #26532bff;
}

.card {
  display: flex;
  width: 100%;
  height: 100%;
  border: solid 1px black;
}

.game_visualMemory {
  height: 100%;
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(10px, 125px));
  gap: 5px;
  grid-auto-rows: repeat(auto-fill, minmax(25px, 125px));
}

.button_start {
  width: 100%;
  height: 100%;
  background-color: #26532b7e;
  color: white;
  font-size: 150px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameParameters {
  grid-column: 1 / -1;
  height: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  background-color: #f0f0f0;
  border: 1px solid black;
}
#timer {
  columns: 2;
  text-align: end;
}

#gameHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: black;
}

#scoreHeader {
  flex-direction: column;
  margin-top: 20px;
  width: 50%;
  height: fit-content;
  background-color: white;
  filter: drop-shadow(0 0 0.75rem var(--french-gray));
  border-radius: 12px;
}

.game_crosswords {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 5px;
  height: 100%;
  width: 100%;
  background-color: #f0f0f0;
  border: 1px solid black;
}

.game_typingWords {
  height: 100%;
  width: 100%;
  background-color: #f0f0f0;
  border: 1px solid black;
}
.letter_typingWords {
  font-size: 30px;
  min-width: 50px;
  background-color: #26532b;
  color: white;
  border: 1px solid black;
  margin: 0.5px;
}

.gameContainer_memory {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 5px;
  height: 100%;
  width: 100%;
  background-color: #f0f0f000;
  border: 1px solid black;
}

.card_memory {
  background-color: #26532b;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
