/* @import url("https://unpkg.com/open-props");
@import url("https://unpkg.com/open-props/normalize.min.css"); */

:root {
  --light-grey: #b1b0b2;
  --grey: #83838d;
  --black: #000000;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  user-select: none;
}

a,
a:visited {
  color: var(--black);
  text-decoration: none;
}
/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

a,
button,
input {
  cursor: url("../img/minimal-ow-pack-pointer.png"), pointer;
}

body {
  cursor: url("../img/minimal-ow-pack.png"), auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 40px 40px 0;
  min-height: 100vh;
  height: fit-content;
  background-color: var(--grey);
}

#LayoutContainer {
  border: 2px solid #77777a;
  position: relative;
  background-color: var(--white);
  width: 75%;
  height: 700px;
  /* padding: 10px; */
  border-radius: 30px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

nav {
  position: absolute;
  top: 0;
  height: 20%;
  width: 100%;
  padding: 0 25px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.SiteName {
  height: 80px;
  aspect-ratio: 1/1;
}

.droptbtn {
  z-index: 3;
  position: relative;
  padding: 10px;
  background-color: var(--white);
  border: none;
  border-radius: 10px;
  font-size: 1.2rem;
  font-family: "Pacifico", cursive;
  transition: all 0.3s;
}

#menu {
  display: none;
  position: absolute;
  z-index: 2;
  top: 45px;
  right: 80px;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  padding: 10px 80px 10px 10px;
  width: 500px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  transition: all 0.3s;
}

.menuContent {
  font-family: "Pacifico", regular;
  font-size: 1rem;
  transition: all 0.3s;
  color: var(--white);
}

/*----------------  search input --------------*/
.searchInputWrapper {
  font-family: "Pacifico", regular;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.searchInput {
  background-color: var(--light-grey);
  width: 20rem;
  height: 2rem;
  padding: 0 1rem;
  border-radius: 2rem;
  border: none;
  transition: transform 0.1s ease-in-out;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.3);
}

::placeholder {
  color: var(--white);
}

/* hide the placeholder text on focus */
:focus::placeholder {
  text-indent: -999px;
}

.searchInput:focus {
  outline: none;
  transform: scale(1.1);
  transition: all 0.1s ease-in-out;
}

.searchInputIcon {
  position: absolute;
  right: 0.8rem;
  top: 0.5rem;
  color: var(--white);
  transition: all 0.1s ease-in-out;
}

.container:focus-within > .searchInputWrapper > .searchInputIcon {
  right: 0.2rem;
}

/* ----------------- dropdown menu ----------------- */

#menu {
  display: none;
}

/* ----- each game divs color ----- */

#jeu1 {
  height: clamp(120px, 220px, 320px);

  background-color: rgb(54, 146, 54, 0.8);
  box-shadow: 0px 0px 10px rgb(54, 146, 54, 0.8),
    rgba(190, 190, 190, 0.35) 0px 30px 60px -12px inset,
    rgba(255, 255, 255, 0.4) 0px 18px 36px -18px inset;
  &:hover {
    background-color: rgb(54, 146, 54, 0.8);
    box-shadow: 0px 0px 20px rgb(54, 146, 54, 0.9),
      rgba(190, 190, 190, 0.35) 0px 30px 65px -12px inset,
      rgba(255, 255, 255, 0.4) 0px 18px 35px -18px inset;
  }
}

#jeu2 {
  height: clamp(150px, 250px, 350px);
  background-color: rgb(160, 28, 28, 0.8);
  box-shadow: 0px 0px 10px rgb(160, 28, 28, 0.8),
    rgba(190, 190, 190, 0.35) 0px 30px 60px -12px inset,
    rgba(255, 255, 255, 0.4) 0px 18px 36px -18px inset;
  &:hover {
    background-color: rgb(160, 28, 28, 0.8);
    box-shadow: 0px 0px 20px rgb(160, 28, 28, 0.9),
      rgba(190, 190, 190, 0.35) 0px 30px 65px -12px inset,
      rgba(255, 255, 255, 0.4) 0px 18px 35px -18px inset;
  }
}

#jeu3 {
  height: clamp(130px, 230px, 330px);
  background-color: rgb(39, 39, 165, 0.8);
  box-shadow: 0px 0px 10px rgb(39, 39, 165, 0.8),
    rgba(190, 190, 190, 0.35) 0px 30px 60px -12px inset,
    rgba(255, 255, 255, 0.4) 0px 18px 36px -18px inset;
  &:hover {
    background-color: rgb(39, 39, 165, 0.8);
    box-shadow: 0px 0px 20px rgb(39, 39, 165, 0.9),
      rgba(190, 190, 190, 0.35) 0px 30px 65px -12px inset,
      rgba(255, 255, 255, 0.4) 0px 18px 35px -18px inset;
  }
}

#jeu4 {
  height: clamp(130px, 230px, 330px);
  background-color: rgba(94, 94, 94, 0.8);
  box-shadow: 0px 0px 10px rgba(94, 94, 94, 0.8),
    rgba(190, 190, 190, 0.35) 0px 30px 60px -12px inset,
    rgba(255, 255, 255, 0.4) 0px 18px 36px -18px inset;
  &:hover {
    background-color: rgba(94, 94, 94, 0.8);
    box-shadow: 0px 0px 20px rgba(94, 94, 94, 0.9),
      rgba(190, 190, 190, 0.35) 0px 30px 65px -12px inset,
      rgba(255, 255, 255, 0.4) 0px 18px 35px -18px inset;
  }
}

/* ----- game divs style ----- */

.MiddleSection {
  /* height: 100%;
  width: 100%; */
  padding-top: 60px;
  display: flex;
  align-items: flex-end;
  scroll-snap-align: start;
}

.wrapper {
  height: 600px;
  margin-bottom: 4rem;
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 100%;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  scroll-snap-type: inline mandatory;
}

.GameDiv {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 600px;
  margin: 50px;
  border-radius: 50px;
  position: relative;
}

.imgGame {
  transition: all 0.6s;
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 0;
  transform: translate(-50%, -57%);

  width: clamp(150px, 250px, 350px);
  height: clamp(150px, 250px, 350px);
  filter: drop-shadow(10px 0px 10px rgba(0, 0, 0, 0.5));
}

.GameBtn {
  position: absolute;
  bottom: 10px;
  background-color: var(--white);
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 1.2rem;
}

footer {
  position: absolute;
  bottom: 0;
  padding: 1.5rem;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.SkipBtn {
  background: none;
  border: none;
  color: var(--black);
  margin-right: 10px;
}

.FooterText {
  font-size: 1.2rem;
  color: var(--black);
  font-family: "Pacifico", regular;
}

/* ----- general style ----- */

#left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.hoverstyle {
  transition: transform 0.6s, box-shadow 0.6s;
  &:hover {
    transform: scale(1.1);
  }
  &:hover > .imgGame {
    height: clamp(175px, 275px, 375px);
    width: clamp(175px, 275px, 375px);
    /* top: 15%; */
    filter: drop-shadow(15px 0px 15px rgba(0, 0, 0, 0.5));
  }
}

.textstyle {
  margin-bottom: 4rem;
  font-size: 1.5rem;
  color: var(--black);
  font-family: "Pacifico", cursive;
}
